/* General Page Styles */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffffff;
    margin: 0;
  }
  
  /* Main container for the form */
  form {
    background-color: #F6F6F6;
    padding: 40px;
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 400px;
    box-sizing: border-box;
    gap: 20px; /* This ensures even spacing between all children */
  }
  
  /* Header style */
  h1 {
    text-align: center;
    margin: 0 0 20px 0; /* Adjust bottom margin to space it from the first form field */
    color: #121212;
  }
  
  /* Label styling */
  label {
    display: block;
    margin-bottom: 5px;
    color: #333;
    font-size: 16px;
    text-align: left;
  }
  
  /* Input field styling */
  input[type="text"],
  input[type="email"],
  input[type="password"],
  input[type="file"] {
    padding: 10px;
    margin-bottom: 20px; /* Uniform margin for all inputs */
    border: 1px solid #ccc;
    border-radius: 4px;
    width: calc(100% - 20px); /* Adjusts for padding to ensure actual text field width is consistent */
    box-sizing: border-box; /* Includes padding and border in the width calculation */
  }
  
  /* Error message styling */
  .error {
    color: #ff0000;
    font-size: 12px;
    margin-bottom: 15px; /* Ensure space after error message if present */
  }
  
  /* Button styling */
  .button {
    background-color: #000;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 30px;
    cursor: pointer;
    box-sizing: border-box; /* Includes padding and border in the width calculation */
    width: calc(100% - 40px); 
    height: 60px;
  }
  
  button:hover {
    background-color: #333;
  }
  
  /* Redirect link styling */
  .login-redirect {
    color: #545454;
    cursor: pointer;
    text-align: center;
    margin-top: 20px;
    font-size: 16px;
  }
  
  .login-redirect:hover {
    text-decoration: underline;
  }